<!DOCTYPE html>
<html>
  <head>
    <title>交通安全マップ</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      /**
       * The CenterControl adds a control to the map that recenters the map on
       * Chicago.
       * This constructor takes the control DIV as an argument.
       * @constructor
       */
      function CenterControl(controlDiv, map) {

        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Click to recenter the map';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '16px';
        controlText.style.lineHeight = '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = '交通事故発生個所の表示';
        controlUI.appendChild(controlText);
        
        controlUI.addEventListener('click', function() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                 setMarker(JSON.parse(this.responseText));
               }
          };
          xhttp.open("GET", "api/customer/?format=json", true);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send();
        });
      }

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.736271, lng: 137.936845}, //駒ヶ根駅
          zoom: 15
        });

        var centerControlDiv = document.createElement('div');
        var centerControl = new CenterControl(centerControlDiv, map);

        centerControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);
      }
      
      function makeMarkerClickHandler(marker, customer) {
        return function() {
          var infowindow = new google.maps.InfoWindow({
            content: customer.name + '<div></div>' + customer.address
          });
          
          infowindow.open(marker.get('map'), marker);
        }
      }
      
      function setMarker(customerJson) {
        for(var i = 0; i < customerJson.length; i++){
          var customer = customerJson[i];
          
          var marker = new google.maps.Marker({
            position: {lat: Number(customer.lat), lng: Number(customer.lng)},
            map: map
          });
          
          marker.addListener('click', makeMarkerClickHandler(marker, customer));
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY2hEk6Ocqzo91g2JLFOMmgPVBa-eDFzg&callback=initMap"async defer></script>
  </body>
</html>
<!-- Qiita 参考 -->
<!-- https://qiita.com/otsukitak/items/073468efb3e2979e2c9a -->